.App {
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  font-family: fantasy;
  text-align: center;
  margin-bottom: 1rem;
  background-color: #313131;
  color: #ffffff;
}

.App header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
  padding: 0 .5rem;
}

.App header nav .brand {
  position: relative;
  font-size: 2rem;
}

.App header nav .header-action {
  display: flex;
  align-items: center;
}

.App header nav .header-action .action {
  cursor: pointer;
  margin-left: .75rem;
}

.App header nav .brand img {
  position: absolute;
  top: 25px;
  left: 62px;
  width: 2.5rem;
}

.App .end {
  margin: 0;
}

.App .interactive-part {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: stretch;
}

.App .draw-part {
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App .draw-part #pendu {
  border: 2px solid black;
  flex-grow: 1;
  width: 100%;
}

.App .VirtualKeyboard {
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.App .VirtualKeyboard .VirtualKey.used-ok {
  background-color: #437c39;
}

.App .VirtualKeyboard .VirtualKey.used-nok {
  background-color: #7c3939;
}

.App .VirtualKeyboard .VirtualKey.reveal {
  background-color: #bc8f40;
}

.App .Word {
  margin-bottom: 2rem;
}
